.card {
    min-height: 416px;
    background: #fff;
    color: #000;
}
.form__button {
    padding: 15px 30px;
    background-color: #33a8f2;
    color: #fff;
    border-radius: 3pt;
    border: none;
    text-decoration: none;
    transition: 0.5s;
}
.form__button:hover {
    background-color: #0071b9;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}