@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("all.css");
@import url("owl.carousel.min.css");
@import url("owl.theme.default.css");


.owl-carousel .item {
  background: #fff;
  text-align: left;
  color: #666;
  border-radius: 3px;
  margin: 10px;
}

.owl-carousel .item .testimonials {
  padding: 20px;
}

.owl-carousel .item .testimonials img {
  display: block;
  width: auto;
}

.owl-carousel .item .testimonials p {
  font-style: italic;
  color: #666;
}

.owl-carousel .item .designation {
  position: relative;
  background: #00b1b9;
  color: #fff;
  padding: 20px;
}

.owl-carousel .item .designation .fa-quote-left {
  position: absolute;
  top: -30px;
  right: 25px;
  font-size: 20px;
  background: #fff;
  color: #00b1b9;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 3px 6px #00000059;
}

.owl-carousel .item .designation h3 {
  margin: 0 0 2px 0;
}

.owl-carousel .item .designation span {
  font-size: 12px;
}

section#testimo {
  background-color: #282d32;
}

.testimonial__heading.text-center {
  color: #fff;
  padding-top: 41px;
}

.testimonial {
  margin-top: 4rem;
}

.testimonials {
  padding: 10px;
}

img.avater {
  float: left;
}

h3.client__name {
  float: left;
  padding: 18px 10px;
  font-size: 20px;
}

.people__say p {
  /* margin-top: 5px; */
  padding: 10px;
  font-weight: 400;
}
